/* General Styles */
body.light {
  background: var(--light-background-color);
  color: var(--light-text-color);
}

body.dark {
  background: var(--dark-background-color);
  color: var(--dark-text-color);
}

.owner-dashboard {
  font-family: "Arial", sans-serif;
  background: var(--dashboard-bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Dark Mode */
.owner-dashboard.dark {
  background: var(--dark-dashboard-bg-color);
  color: var(--dark-text-color);
}

.owner-dashboard.dark .alhamd-sidebar {
  background: var(--dark-sidebar-bg-color);
}

.owner-dashboard.dark .alhamd-dashboard-header {
  background: var(--dark-header-bg-color);
}

.owner-dashboard.dark .alhamd-main-content {
  background: var(--dark-main-content-bg-color);
}

/* Layout */
.alhamd-dashboard-layout {
  display: flex;
  height: 100%;
}

/* Main Content */
.alhamd-main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content horizontally */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .alhamd-dashboard-layout {
    flex-direction: column;
  }

  .alhamd-dashboard-header {
    padding: 10px 15px;
  }

  .alhamd-main-content {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .alhamd-dashboard-cards {
    grid-template-columns: 1fr;
  }

  .alhamd-chart-container {
    width: 100%;
    height: auto;
  }

  .alhamd-card h4 {
    font-size: 16px;
  }

  .alhamd-card p {
    font-size: 20px;
  }

  .alhamd-chart-container h3 {
    font-size: 16px;
  }

  .alhamd-chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

/* Dashboard Cards and Charts */
.alhamd-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.alhamd-card {
  background: var(--card-bg-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.alhamd-card h4 {
  font-size: 18px;
  color: var(--card-title-color);
}

.alhamd-card p {
  font-size: 22px;
  font-weight: bold;
  color: var(--card-text-color);
}

.alhamd-charts-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.alhamd-chart-container {
  background: var(--chart-container-bg-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.alhamd-chart-container:hover {
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.2);
  transform: scale(1.02);
}

.alhamd-chart-container h3 {
  margin-bottom: 20px;
  color: var(--chart-title-color);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2;
}

.alhamd-chart-container canvas {
  width: 90% !important;
  height: 90% !important;
  max-width: 250px;
  max-height: 250px;
}

.alhamd-welcome-message {
  background: var(--welcome-msg-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: var(--welcome-msg-text-color);
  width: 100%; /* Ensure full width */
  max-width: 1000px; /* Set a max width */
  text-align: center; /* Center align text */
}

.alhamd-loading-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--loading-text-color);
}

/* Theme Variables */
:root {
  --light-background-color: #f0f0f0;
  --dark-background-color: #333;
  --light-text-color: #000;
  --dark-text-color: #fff;
  --dashboard-bg-color: #f4f7fc;
  --dark-dashboard-bg-color: #1e1e1e;
  --dark-sidebar-bg-color: #333;
  --dark-header-bg-color: #444;
  --dark-main-content-bg-color: #222;
  --select-bg-color: #fff;
  --select-border-color: #ccc;
  --dark-select-bg-color: #444;
  --dark-select-text-color: #fff;
  --dark-select-border-color: #555;
  --card-bg-color: #fff;
  --card-title-color: #333;
  --card-text-color: #007bff;
  --chart-container-bg-color: #f4f7fc;
  --chart-title-color: #333;
  --welcome-msg-bg-color: #ffffff;
  --welcome-msg-text-color: #333;
  --loading-text-color: #555;
}

[data-theme="dark"] {
  --sidebar-bg-color: #333;
  --sidebar-text-color: #fff;
  --sidebar-item-bg-color: #444;
  --sidebar-item-text-color: #ecf0f1;
  --sidebar-item-hover-bg-color: rgba(68, 68, 68, 0.2);
  --sidebar-item-hover-text-color: #ecf0f1;
  --sidebar-active-bg-color: #007bff;
  --sidebar-active-text-color: #fff;
  --logout-text-color: #ff4d4d;
  --logout-hover-text-color: #e60000;
}
